---
Checks: >
  -*,
  bugprone-*,
  clang-diagnostic-*,
  -clang-diagnostic-unused-command-line-argument,
  google-*,
  -google-runtime-references,
  -google-readability-todo,
  -google-explicit-constructor,
  misc-*,
  -misc-noexcept*,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-equals-delete,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-uppercase-literal-suffix,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
WarningsAsErrors: false
AnalyzeTemporaryDtors: false
FormatStyle:     file
...
